@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

.react-logo{
      width: 300px;
      animation: spin 8s linear infinite; 
    }

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }